@keyframes translateY {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes translateYHide {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.btn-selects {
  $root: &;

  user-select: none;
  position: relative;
  z-index: 0;
  border-color: inherit;

  &__items {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
    padding-top: 15px;
    height: 0;
    overflow: hidden;
  }

  &__header {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    color: inherit;
    transition: 400ms;
  }

  &__item {
    border: 1px solid inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms;
    position: relative;
    background: #FFFFFF;
    color: #3B3734;
    opacity: 0;
    transform: translateY(-20px);

    &:hover {
      background: #D0A966;
      color: #FFFFFF;
    }
  }

  &:hover {
    z-index: 10;
    #{$root} {
      &__items {
        visibility: visible;
        height: auto;
      }
      &__header {
        background: #fff;
        color: #D0A966;
        border-color: #FFFFFF;
      }
      &__item {
        @for $i from 1 through 9 {
          &:nth-child(#{$i}) {
            transform-origin: top center;
            animation: translateY 300ms #{$i * 60ms} ease-in-out forwards;
          }
        }
      }
    }
  }
}

.btn-metering {
  $root: &;
  position: relative;
  display: table;

  @include media-down(md) {
    width: 100%;
  }

  &__header {
    width: 112px;
    height: 30px;
    border-radius: 142px;
    border: none;
    background: none;

    .icon-arrow-down {
      font-size: 5px;
      transition: 300ms;
      margin-left: 20px;

      @include media-down(md) {
        display: none;
      }
    }

    .icon-sort {
      font-size: 29px;
      margin-right: 15px;

      @include media-down(md) {
        font-size: 17px;
      }
    }

    @include media-down(md) {
      display: none;
    }
  }

  &__items {
    width: 100%;

    @include media-down(md) {
      position: static;
      visibility: visible;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      transform: none;
      padding-top: 0;
    }
  }

  &__item {
    border-radius: 142px;
    width: 100%;
    height: 45px;
    gap: 10px;

    &:hover {
      width: 115%;
      height: 53px;

      @include media-down(md) {
        width: 100%;
        height: 45px;
        background: #FFFFFF;
        color: #D0A966;
      }
    }

    .icon-sort {
      display: none;

      @include media-down(md) {
        display: block;
      }
    }

    @include media-down(md) {
      top: 0;
      opacity: 1;
      visibility: visible;
      background: none;
      border: 1px solid #FFFFFF;
      color: #FFFFFF;
    }
  }

  &.btn-selects--hover {
    .icon-arrow-down {
      transform: scaleY(-1);
    }

    #{$root} {
      &__header {
        background: none;
        border: none;
      }
    }
  }
}

.btn-lang {
  &__header {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  &__item {
    border-radius: 142px;
    width: 45px;
    height: 45px;

    &:hover {
      width: 53px;
      height: 53px;
    }
  }
}

.btn-currency {
  &__header {
    width: 69px;
    height: 45px;
    border-radius: 142px;
  }

  &__item {
    border-radius: 142px;
    width: 69px;
    height: 45px;

    &:hover {
      width: 82px;
      height: 53px;
    }
  }
}