.cookies {
  display: none;
  max-width: 668px;
  width: calc(100% - var(--cp) - var(--cp));
  position: fixed;
  bottom: 30px;
  left: var(--cp);
  z-index: 90;

  &--visible {
    display: block;
  }

  &__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #332E2A;
    padding: 20px;
    background: #DED9D6;
    border-radius: 11px;
    margin-bottom: 20px;
  }
}