.menu {
  $root: &;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  color: #FFFFFF;
  overflow-y: hidden;
  overflow-x: hidden;
  visibility: hidden;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    color: #FFFFFF;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 0;
  }

  @include media-down(md) {
    z-index: 98;
  }

  transition: 1s;

  @include media-down(md) {
    padding-top: 154px;
  }

  @include media-down(sm) {
    padding-top: 83px;
  }

  &__wrapper {
    margin-right: calc(var(--cp) + 150px);
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);

    max-width: calc(1449px + var(--cp));
    padding: 49px 89px 128px var(--cp);
    transform: translateX(-140%);
    display: grid;
    grid-template-areas: "open lang-currency lang-currency metering" "nav nav nav none" "nav nav nav pdf" "socials socials socials info";
    grid-template-columns: 150px 135px 1fr 1fr;
    grid-template-rows: 45px 1fr 120px 100px;
    justify-content: space-between;

    transition: 1s;
    position: relative;
    z-index: 2;

    @include media-down(md) {
      grid-template-areas: "nav lang-currency" "nav metering" "nav pdf" "nav socials" "nav info";
      grid-template-columns: 1fr 280px;
      grid-template-rows: 70px 74px 1fr 70px 110px;

      max-width: 100%;
      width: 100%;
      padding: 0 var(--cp);
      height: calc(100vh - 154px);
      height: calc((var(--vh, 1vh) * 100) - 154px);

      min-height: auto;
      padding-bottom: 52px;
    }

    @include media-down(sm) {
      grid-template-areas: "lang-currency" "metering" "nav" "pdf" "socials" "info";
      grid-template-columns: 1fr;
      grid-template-rows: 68px 70px 1fr 130px 55px 115px;
      height: calc(100vh - 83px);
      height: calc((var(--vh, 1vh) * 100) - 83px);
      min-height: auto;
      padding-bottom: 33px;
    }
  }


  &__close {
    position: absolute;
    top: 50%;
    right: -99px;
    transform: translateY(-50%);

    @include media-down(md) {
      display: none;
    }
  }

  &__open {
    grid-area: open;

    @include media-down(md) {
      display: none;
    }
  }

  &__lang-currency {
    grid-area: lang-currency;

    @include media-down(sm) {
      max-width: 280px;
    }

    &-wrap {
      display: flex;
      align-items: center;
      gap: 20px;

      @include media-down(md) {
        justify-content: space-between;
        align-items: flex-start;
      }
    }
  }

  &__enquiry {
    display: none;

    &:hover {
      background: #ffffff;
      color: #D0A966;
      border-color: #fff;
    }

    @include media-down(md) {
      display: flex;
    }
  }

  &__mt {
    display: none;

    @include media-down(md) {
      display: flex;
    }
  }

  &__nav {
    grid-area: nav;
    padding: 92px 0;

    @include media-down(md) {
      padding: 0;
    }

    @include media-down(sm) {
      display: flex;
      align-items: center;
      height: 100%;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      display: flex;
      flex-direction: column;
      gap: 30px;

      @include media-down(md) {
        gap: 16px;
      }

      a {
        font-weight: 400;
        font-size: 40px;
        line-height: 130%;
        text-transform: uppercase;
        transition: color 300ms;

        @include media-down(md) {
          font-size: 20px;
        }

        &:hover {
          color: #D0A966;
        }
      }
    }
  }

  &__metering {
    grid-area: metering;

    @include media-down(sm) {
      max-width: 280px;
    }

    &-wrap {
      @include media-down(md) {
        display: grid;
        align-items: flex-start;
        gap: 26px;
        justify-content: space-between;

        grid-template-columns: 114px 1fr;
      }
    }
  }

  &__pdf {
    grid-area: pdf;

    @include media-down(md) {
      display: flex;
      align-items: flex-end;
      gap: 28px;
      justify-content: space-between;

      .btn--pdf {
        height: 34px;
      }
    }

    @include media-down(sm) {
      flex-direction: column;
      align-items: flex-start;
      gap: 14px;
      justify-content: flex-end;
      max-width: 320px;

      .btn--pdf {
        height: 45px;
      }
    }
  }

  &__whatsapp {
    display: none;

    @include media-down(md) {
      display: flex;
      height: 34px;
    }

    @include media-down(sm) {
      height: 45px;
    }
  }

  &__socials {
    grid-area: socials;
    margin-top: auto;

    .socials {
      align-items: flex-end;
      justify-content: flex-start;
    }
  }

  &__info {
    grid-area: info;
    margin-top: auto;
  }

  &__tel {
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    color: #D0A966;
    margin-bottom: 16px;

    transition: color 300ms;

    &:hover {
      color: #fff;
    }

    @include media-down(md) {
      font-size: 20px;
      margin-bottom: 3px;
    }
  }

  &__address {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;

    @include media-down(md) {
      font-size: 12px;
    }

    @include media-down(sm) {
      max-width: 320px;
    }
  }

  &--active {
    background: rgba(39, 39, 39, 0.08);
    backdrop-filter: blur(7px);
    visibility: visible;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);

    overflow-y: auto;

    @include media-down(md) {
      overflow-y: hidden;
      background: rgba(27, 27, 27, 0.9);
      backdrop-filter: blur(13px);
    }

    #{$root} {
      &__wrapper {
        transform: translateX(0);
        backdrop-filter: blur(12.5px);
        background: rgba(27, 27, 27, 0.81);

        @include media-down(md) {
          overflow-y: auto;
          background: none;
          backdrop-filter: none;
        }
      }
    }
  }
}