.modal {
  z-index: 9999;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#3B3734, .7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    background-color: #fff;
    width: 100%;
    max-width: 976px;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 109px 30px 86px;

    @include media-down(md) {
      padding: 40px 30px 40px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 590px;
    text-align: center;
    margin: 0 auto 48px;

    @include media-down(md) {
      margin: 0 auto 28px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
    color: #3B3734;
    text-transform: none;
    width: 100%;

    @include media-down(md) {
      font-size: 21px;
    }
  }

  &__close {
    position: absolute;
    top: 50px;
    right: 50px;
    color: #3B3734;

    &:hover, &:active, &:focus {
      color: #3B3734;
    }

    @include media-down(md) {
      top: 20px;
      right: 20px;
    }

    .icon {
      font-size: 34px;
    }
  }

  &__content {
    color: #3B3734;
    max-width: 590px;
    margin: 0 auto;

    .form__row {
      justify-content: center;
    }
  }
}

@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}