.related-properties {
  padding-top: 150px;
  padding-bottom: 150px;

  @include media-down(md) {
    background: #E8E4DD;
    padding-top: 57px;
    padding-bottom: 57px;
  }

  @include media-down(sm) {
    padding-top: 37px;
    padding-bottom: 37px;
  }

  &__navigation {
    display: none;

    @include media-down(sm) {
      display: flex;
      margin-top: 19px;
    }
  }

  &__title {
    margin-bottom: 100px;
    font-weight: 500;
    font-size: 60px;
    line-height: 130%;
    text-transform: uppercase;
    color: #3B3734;

    @include media-down(md) {
      margin-bottom: 39px;
      font-size: 32px;
    }

    @include media-down(sm) {
      font-size: 20px;
      margin-bottom: 22px;
    }
  }
}