.choice {
  $root: &;
  position: relative;
  z-index: 0;
  transition: background 400ms;

  &__select {
    display: none;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
    border: 1px solid rgba(#3B3734, .3);
    border-radius: 6px;
    cursor: pointer;

    transition: 400ms;
  }

  &__value {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    padding-right: 10px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__icon {
    font-size: 5px;
    transition: 400ms;
    color: #000000;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(#000000, .5);
    cursor: pointer;
    transition: color 400ms, background 400ms, opacity 400ms;

    &[disabled] {
      display: none;
    }

    &--selected {
      background: #8F8175;
      color: #FFFFFF;
    }

    &:hover {
      background: #8F8175;
      color: #FFFFFF;
      opacity: 0.8;
    }
  }

  &__items {
    border-radius: 0 0 6px 6px;
    border: 1px solid rgba(#3B3734, .3);
    max-height: 300px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: -1px;
    opacity: 0;
    visibility: hidden;
    height: 0;
    background: #F5F2ED;
    transition: 400ms;
  }

  &--active {
    z-index: 100;
    background: #F5F2ED;

    #{$root} {
      &__header {
        border-radius: 6px 6px 0 0;
      }

      &__items {
        opacity: 1;
        visibility: visible;
        height: auto;
      }

      &__icon {
        transform: scaleY(-1);
      }
    }
  }
}