.sort-panel {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-down(smd) {
      align-items: flex-end;
    }

    @include media-down(sm) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }

  &__section {
    display: flex;
    align-items: center;
    gap: 52px;

    @include media-down(md) {
      gap: 20px;
    }

    @include media-down(smd) {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }

    &:first-child {
      width: 100%;
    }

    &:last-child {
      width: 200px;
      justify-content: flex-end;

      @include media-down(sm) {
        width: 100%;
      }
    }
  }

  &__find {
    display: none;

    @include media-down(md) {
      display: block;
      max-width: 280px;
      width: 100%;
      margin-top: 41px;
    }
  }

  &__part {
    display: flex;
    align-items: center;
    gap: 25px;

    @include media-down(md) {
      flex-direction: column;
      align-items: flex-start;
      gap: 9px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    opacity: 0.5;
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
      font-family: $font-arimo;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: #3B3734;
      padding: 12px 18px;
      border-radius: 142px;

      &.active {
        background: #8F8175;
        color: #fff;
      }
    }
  }

  &__reset {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #3B3734;
    transition: 300ms;

    &:hover {
      color: #D0A966;
    }

    @include media-down(md) {
      margin-top: 2em;
    }

    .icon-reset {
      font-size: 14px;
      transform: scaleX(-1) rotate(45deg);
    }
  }
}