.form {
  &__row {
    display: flex;
  }

  &__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #515151;
    padding-bottom: 15px;
    display: block;
  }
}

.field-radio {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #000000;

  input {
    display: none;

    &:checked + .field-radio__box {
      &:before {
        content: '';
        width: 10px;
        height: 10px;
        background: #D0A966;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__box {
    width: 22px;
    height: 22px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
  }
}

.field-line {
  border-bottom: 1px solid rgba(#000000, .1);
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  transition: 300ms;

  &::placeholder {
    color: #515151;
    user-select: none;
  }

  &:focus {
    border-color: #D0A966;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 21px;
  cursor: pointer;
  user-select: none;

  @include media-down(md) {
    gap: 11px;
  }

  &__input {
    display: none;

    &:checked + .checkbox__box {
      .icon-check {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 21px;
    min-width: 21px;
    min-height: 21px;
    max-width: 21px;
    max-height: 21px;
    opacity: 0.7;
    border: 1px solid #515151;
    border-radius: 4px;

    .icon-check {
      font-size: 9px;
      position: relative;
      top: 1px;
      opacity: 0;
      transition: 200ms;
      transform: scale(0.5);
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #515151;
    opacity: 0.7;

    a {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 1px;
        background: #858585;
        transition: 200ms;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }
}

.field-phone {
  $root: &;
  display: flex;
  height: 65px;
  border: 1px solid rgba(#000000, 0.1);
  border-radius: 5px;
  width: 100%;
  position: relative;

  @include media-down(md) {
    border: none;
    flex-direction: column;
    height: auto;
    gap: 15px;
  }

  &__current {
    position: relative;
  }

  &__open {
    height: 100%;
    width: 150px + 30px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-right: 1px solid #DAD8D7;
    gap: 10px;
    user-select: none;
    transition: 200ms;
    cursor: pointer;

    @include media-down(md) {
      padding: 0 15px 0 12px;
      width: 100%;
      border: 1px solid rgba(#000000, 0.1);
      height: 65px;
      border-radius: 6px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 106px;
        height: 100%;
        border-right: 1px solid #DAD8D7;
      }
    }

    &:hover {
      background-color: #fefefe;
    }
  }

  &__span {
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #515151;
    top: 6px;
    left: 15px;
  }

  &__number {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #515151;
  }

  &__icon {
    position: absolute;
    right: 16px;
    top: 30px;
    font-size: 5px;
    transition: 300ms;
  }

  &__flag {
    width: 30px;
    height: 17px;
    border-radius: 2px;
    overflow: hidden;
    object-fit: cover;
    background-color: #D0A966;
  }

  &__items {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #DAD8D7;
    z-index: 999;
    border-radius: 0 0 6px 6px;
    max-height: 200px;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    height: 0;
  }

  &__item {
    padding: 10px 15px;
    display: flex;
    gap: 10px;
    transition: 300ms;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid #DAD8D7;
    }

    &:hover {
      opacity: 0.8;
    }

    &--active {
      background-color: #D0A966;
    }
  }

  &__input {
    height: 100%;
    padding: 0 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #515151;

    &::placeholder {
      color: #515151;
    }

    @include media-down(md) {
      height: 65px;
      border: 1px solid rgba(#000000, 0.1);
      border-radius: 6px;
      padding: 0 17px;
    }
  }

  &--active {
    #{$root} {
      &__items {
        opacity: 1;
        visibility: visible;
        height: auto;
      }

      &__icon {
        transform: scaleY(-1);
      }
    }
  }
}