.minimal-footer {
  background: #3B3734;
  padding: 43px var(--cp) 53px;

  @include media-down(md) {
    padding: 22px var(--cp) 22px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 52px;

    @include media-down(md) {
      gap: 26px;
    }
  }

  &__section {
    display: flex;
    align-items: center;
    gap: 52px;

    @include media-down(md) {
      gap: 26px;
    }
  }

  &__logotype {
    color: #D0A966;
    font-size: 55px;
  }
}