.dubai-marina-promo {
  margin-top: 150px;

  @include media-down(md) {
    margin-top: 37px;
  }

  &__desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3B3734;
    max-width: 797px;
    width: 100%;
    display: table;
    margin: 0 auto 100px;

    @include media-down(md) {
      max-width: 100%;
      margin-bottom: 58px + 216px;
    }

    @include media-down(sm) {
      margin-bottom: 32px;
    }
  }

  &__image-box {
    position: relative;
  }

  &__image {
    padding-left: calc(var(--cp) - 150px - 30px);
    padding-right: calc(var(--cp) + 290px);

    @include media-down(md) {
      padding: 0;
    }

    img {
      max-width: 1480px;
      width: 100%;
      max-height: 1080px;
      height: 100vh;
      object-fit: cover;

      @include media-down(md) {
        height: 430px;
        max-width: 100%;
      }

      @include media-down(sm) {
        height: 243px;
      }
    }
  }

  &__content {
    color: #fff;
    background: #AA9F8D;
    max-width: 960px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: calc(var(--cp) - 150px);
    padding: 100px 150px 115px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 80%;
    gap: 30px;

    .area-slider {
      height: auto;
      margin-top: auto;
      margin-bottom: auto;
    }

    //@media (max-width: 1000px) {
    //  right: calc(var(--cp) - 30px);
    //  padding-right: 30px;
    //  padding-left: 30px;
    //}

    @include media-down(md) {
      bottom: 430px;
      height: auto;
      max-width: 100%;
      left: 0;
      right: auto;
      padding: 36px 40px 40px;
    }

    @include media-down(sm) {
      position: static;
      padding: 35px var(--cp) 28px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    max-width: 364px;
  }

  &__navs {
    display: flex;
    gap: 20px;

    .btn-nav {
      @include media-down(sm) {
        width: 45px;
        height: 45px;
      }
    }
  }
}