.about-page {





  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
    color: #3B3734;
  }

  &__bg {
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("/public/images/about-bg.svg");
    background-size: cover;
    margin-bottom: 368px;

    @include media-down(md) {
      margin-bottom: 54px;
    }

    @include media-up(lg) {
      background-attachment: fixed;

    }
  }

  &__title {
    @include media-down(sm) {
      text-align: left;
      max-width: 280px;
      font-size: 32px;
      position: relative;

      .banner__sg {
        top: -101px;
        font-size: 110px;
      }
    }
  }

  &__content {
    @include media-down(sm) {
      width: 100%;
      padding: 250px var(--cp) 0 !important;
    }
  }

  &__banner {
    @include media-down(sm) {
      height: 800px;
    }
  }
}

.about-contact {
  @include media-down(sm) {
    .contact-send__section:last-child {
      display: none !important;
    }
  }
}

.about-page-desc {
  position: relative;
  z-index: 2;

  @include media-down(md) {
    margin-top: -150px;
  }

  @include media-down(sm) {
    margin-top: -200px;
  }

  &__we-are {
    margin-top: 200px;

    @include media-down(md) {
      margin-top: 61px;
    }
  }

  &__text {
    max-width: 494px;
    margin-right: 30px;
    margin-bottom: 100px;

    @include media-down(md) {
      margin-bottom: 0;
      max-width: 294px;
    }

    @include media-down(sm) {
      padding: 0 var(--cp);
      max-width: 100%;
      margin-bottom: 40px;
    }
  }

  &__text2 {
    max-width: 671px;

    @include media-down(md) {
      max-width: 531px;
    }
  }

  &__sect {
    padding-top: 676px;
    margin-top: -510px;
    padding-bottom: 310px;

    @include media-down(md) {
      margin-top: 45px;
      padding-top: 41px;
      padding-bottom: 88px;
    }
  }

  &__box-image {
    @include media-down(md) {
      padding: 0 var(--cp);
    }

    @include media-down(sm) {
      padding: 0;
    }
  }

  &__content {
    @include media-down(md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @include media-down(sm) {
      display: block;
    }
  }

  &__image {
    @include media-down(md) {
      height: 249px;
    }
  }
}


.about-page-block {
  margin-top: 449px;
  position: relative;

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    max-width: 562px;

    @include media-down(md) {
      max-width: 280px;
    }

    @include media-down(sm) {
      max-width: 100%;
    }
  }

  @include media-down(md) {
    margin-top: 49px;
  }
}

.about-company {

  &__desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
    color: #3B3734;
    max-width: 671px;
    margin-bottom: 180px;
    margin-top: 333px;

    @include media-down(md) {
      margin-top: 84px;
      margin-bottom: 40px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 60px;
    line-height: 130%;
    text-transform: uppercase;
    color: #2E2E2E;
    position: relative;
    width: 730px;
    height: 300px;

    display: table;
    margin: 150px auto 0 auto;

    @include media-down(md) {
      display: block;
      margin: 75px 0 0 0;
      width: 385px;
      height: 131px;
      font-size: 32px;
    }

    @include media-down(sm) {
      height: 87px;
    }
  }

  &__start {
    position: relative;
    z-index: 1;
    margin-top: 70px;
  }

  &__sg {
    font-weight: 400;
    font-size: 210px;
    line-height: 140%;
    color: #D0A966;

    position: absolute;
    z-index: 0;
    right: 100px;
    top: 0;

    @include media-down(md) {
      font-size: 74px;
      right: 34px;
    }

    @include media-down(sm) {
      right: auto;
      left: 176px;
    }
  }

  &__end {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 21px;

    @include media-down(md) {
      bottom: 0;
    }

    @include media-down(sm) {
      right: auto;
      left: 0;
    }
  }
}

.about-company-item {
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D0A966;
  border-radius: 50%;
  color: #3B3734;

  @include media-down(md) {
    width: 193px;
    height: 193px;
    padding: 0 25px;
  }

  @include media-down(sm) {
    width: 220px;
    height: 220px;
  }

  &__title {
    font-weight: 500;
    font-size: 60px;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 27px;

    @include media-down(md) {
      font-size: 24px;
      margin-bottom: 3px;
    }
  }

  &__text {
    max-width: 220px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    @include media-down(md) {
      font-size: 14px;
    }
  }

  &:nth-child(odd) {
    background: #D0A966;
    color: #FFFFFF;
  }
}

.about-text-block {
  @include media-down(md) {
    position: relative;
  }

  &__text {
    max-width: 595px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-right: 225px;
    color: #000000;
    margin-left: auto;
    margin-bottom: 302px;

    @include media-down(md) {
      width: calc(50% - 15px);
      max-width: none;
      margin-left: 0;
      margin-bottom: 54px;
    }

    @include media-down(sm) {
      width: 100%;
      margin-bottom: 37px;
    }
  }

  &__box-image {
    position: relative;
    top: -192px;

    @include media-down(md) {
      width: calc(50% - 15px);
      position: absolute;
      right: 0;
      top: 0;
      padding-right: var(--cp);

      img {
        height: 249px;
      }
    }

    @include media-down(sm) {
      width: 100%;
      position: static;
      padding-right: 0;

      img {
        height: 243px;
      }
    }
  }

  &__desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3B3734;
    display: table;
    margin: -42px auto 0 auto;
    max-width: 797px;
    padding-bottom: 316px;

    @include media-down(md) {
      margin-top: 45px;
      padding: 26px var(--cp) 28px;
    }

    @include media-down(sm) {
      margin-top: 0;
      padding: 34px var(--cp) 33px;
    }
  }
}

.about-specialists {
  margin-top: 307px;

  @include media-down(md) {
    margin-top: 111px;
  }

  &__title {
    position: relative;
    font-weight: 500;
    font-size: 60px;
    line-height: 130%;
    text-transform: uppercase;
    color: #2E2E2E;
    display: table;
    margin: 0 auto 171px;

    @include media-down(md) {
      font-size: 32px;
      display: block;
      margin: 0 0 44px;
    }
  }

  &__sg {
    position: absolute;
    z-index: 0;
    font-weight: 400;
    font-size: 210px;
    line-height: 140.62%;
    color: #D0A966;
    bottom: -21px;
    left: -39px;

    @include media-down(md) {
      font-size: 74px;
      bottom: 10px;
      left: 0;
    }
  }

  &__end {
    position: relative;
    z-index: 1;
  }

  &__items {
    position: relative;
    padding-bottom: 179px;

    @include media-down(md) {
      padding-bottom: 57px;
    }
  }

  &__pagination {
    @include media-down(md) {
      position: absolute;
      top: -65px;
      right: 0;
      display: flex;
      align-items: center;
      gap: 20px;
    }

    @include media-down(sm) {
      position: static;
    }
  }

  &__prev, &__next {
    border: 1.5px solid #3B3734;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3B3734;
    transition: 300ms;
    position: absolute;
    top: 28%;
    transform: translateY(-50%);
    z-index: 3;

    &:hover {
      background: #D0A966;
      color: #fff;
    }

    @include media-down(md) {
      position: static;
      color: #8F8175;
      border-color: #8F8175;
    }

    @include media-down(sm) {
      top: 20%;
      position: absolute !important;
    }
  }

  &__next {
    right: -70px;

    @media (max-width: 1720px) {
      right: 15px;
      border-color: #fff;
      color: #fff;
    }

    @include media-down(md) {
      position: static;
      color: #8F8175;
      border-color: #8F8175;
    }
  }

  &__prev {
    left: -70px;

    @media (max-width: 1720px) {
      left: 15px;
      border-color: #fff;
      color: #fff;
    }

    @include media-down(md) {
      position: static;
      color: #8F8175;
      border-color: #8F8175;
    }
  }
}


.about-company-scroll {
  //padding-top: 150px;

  @include media-up(lg) {
    transform-style: preserve-3d;
  }

  @include media-down(md) {
    padding-top: 75px;
  }

  &__sticky {
    @include media-up(lg) {
      position: sticky;
      top: 0;
      overflow: hidden;
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
    }
  }

  &__items {
    @include media-up(lg) {
      width: max-content;
      will-change: transform;
    }
  }
}