.areas-page {
  &__title {
    font-weight: 500;
    font-size: 60px;
    line-height: 130%;
    text-transform: uppercase;
    position: relative;
    display: block;

    @include media-down(md) {
      font-size: 20px;
      line-height: 140%;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;

    @include media-down(md) {
      font-size: 16px;
      padding-right: 20px;
    }
  }

  &__more {
    font-weight: 500;
    line-height: 150%;
    padding: 10px 25px;

    &:hover {
      background: #fff;
    }

    @include media-down(md) {

    }
  }
}

.areas-palm {
  position: relative;
  z-index: 2;
  color: #3B3734;
  margin-bottom: 150px;
  margin-top: -150px;

  &__row-images {
    margin-top: -45px;
  }

  @include media-down(md) {
    margin-bottom: 45px;
    margin-top: -200px;
    background: none;

    &__row-images {
      margin-top: 45px;
    }
  }

  &__title {
    margin-bottom: 40px;

    @include media-down(md) {
      margin-bottom: 15px;
    }
  }

  &__text {
    margin-bottom: 50px;

    @include media-down(md) {
      margin-bottom: 28px;
    }
  }

  &__content {
    max-width: 630px;
    position: relative;
    z-index: 2;

    @include media-down(md) {
      max-width: 420px;
    }
  }
}

.areas-beachfront {
  background: #3B3734;
  color: #3B3734;

  .bg-gray {
    position: relative;
    top: -2px;

    @include media-down(md) {
      position: relative;
      z-index: 3;
      background: none;
      top: 0;
    }
  }

  .bg-second {
    position: relative;
    top: -2px;
  }

  @include media-down(md) {
    position: relative;
    z-index: 3;
    background: #E8E4DD;
  }

  &__end {
    display: flex;
    justify-content: flex-end;

    @include media-down(md) {
      display: block;
      margin-bottom: -80px;
      width: 50%;
    }
  }

  &__title {
    text-align: right;
    max-width: 450px;

    @include media-down(md) {
      text-align: left;
      max-width: 153px;
      padding-top: 30px;
    }
  }

  &__between {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 415px;
    padding-top: 37px;

    @include media-down(md) {
      display: block;
      width: 50%;
      padding-top: 44px;
      margin-top: -44px;
      padding-bottom: 37px;
    }

    @include media-down(sm) {
      width: 100%;
      padding-bottom: 36px;
    }
  }

  &__text {
    max-width: 630px;

    @include media-down(md) {
      padding-top: 50px;
      margin-bottom: 38px;
    }

    @include media-down(sm) {
      margin-bottom: 25px;
    }
  }

  &__box-image {
    position: relative;
    margin-top: -315px;

    @include media-down(md) {
      margin-top: 0;
      position: absolute;
      top: 30px;
      width: 50%;
      right: 0;
      padding-right: var(--cp);
      padding-left: calc(var(--cp) - 25px);

      img {
        height: 249px;
      }
    }

    @include media-down(sm) {
      position: static;
      padding: 0;
      width: 100%;
      margin-top: 0;
    }
  }
}

.areas-jumeirah {
  color: #FFFFFF;

  &__title {
    width: 50%;

    @include media-down(md) {
      margin-bottom: 15px;
    }
  }

  &__text {
    width: 100%;
    margin-bottom: 50px;
    max-width: 630px;

    @include media-down(md) {
      margin-bottom: 34px;
      max-width: 391px;
    }
  }

  &__bg {
    background: #3B3734;
  }

  &__content {
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
    gap: 30px;
    padding-bottom: 913px;

    @include media-down(md) {
      padding-top: 33px;
      flex-direction: column;
      padding-bottom: 250px + 52px + 45px;
      gap: 0;
    }

    @include media-down(sm) {
      padding-right: 0;
    }
  }

  &__images {
    position: relative;
    z-index: 2;
    margin-top: -763px;

    @include media-down(md) {
      margin-top: -250px - 52px;
    }
  }
}

.areas-dubai {
  @include media-down(md) {
    position: relative;
  }

  &__content {
    max-width: 701px;
    margin-bottom: 130px;
    margin-top: 150px;

    @include media-down(md) {
      margin-top: 46px + 46px;
      margin-bottom: 46px;
      width: 50%;
    }

    @include media-down(sm) {
      margin-top: 40px;
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 40px;

    @include media-down(md) {
      margin-bottom: 15px;
    }
  }

  &__text {
    margin-bottom: 50px;

    @include media-down(md) {
      margin-bottom: 24px;
    }
  }

  &__box-image {
    @include media-down(md) {
      width: 50%;
      position: absolute;
      top: 0;
      right: 0;
      padding-right: var(--cp);
      padding-left: 15px;

      img {
        height: 249px;
      }
    }

    @include media-down(sm) {
      width: 100%;
      padding: 0;
      position: static;
      margin-bottom: 37px;
    }
  }
}