.article {
  padding-bottom: 159px;

  @include media-down(md) {
    padding-bottom: 130px;
  }

  &__header {
    margin-bottom: 60px;

    @include media-down(md) {
      margin-bottom: 35px;
    }
  }

  &__time {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 14px;

    @include media-down(md) {
      margin-bottom: 5px;
      font-size: 14px;
    }
  }

  &__another {
    margin-top: 158px;

    @include media-down(md) {
      margin-top: 55px;
    }
  }
}


.article-content {
  color: #000000;

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;

    @include media-down(sm) {
      font-size: 16px;
    }
  }

  &__section {
    &:not(:last-child) {
      margin-bottom: 195px;

      @include media-down(md) {
        margin-bottom: 53px;
      }

      @include media-down(sm) {
        margin-bottom: 34px;
      }
    }

    &--mb-100 {
      &:not(:last-child) {
        margin-bottom: 100px;

        @include media-down(md) {
          margin-bottom: 36px;
        }

        @include media-down(sm) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__text-1 {
    max-width: 651px;

    @include media-down(md) {
      margin-bottom: 35px;
      max-width: 100%;
      padding: 0 var(--cp);
    }
  }

  &__text-2 {
    padding-right: 30px;

    @include media-down(md) {
      max-width: 100%;
      padding-right: 0;
    }
  }

  &__text-3 {
    padding-left: 30px;

    @include media-down(md) {
      max-width: 100%;
      padding: 0 var(--cp);
    }
  }
}