.catalog-page {

  &__panel-box {
    position: relative;
  }

  &__minmax-box {
    position: relative;
  }

  &__minmax-panel {
    position: absolute;
    top: 100%;
    left: -1px;
    width: calc(100% + 2px);
    background: #E8E4DD;
    padding: 12px 14px 20px 17px;
    z-index: 9;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: 300ms;
    opacity: 0;
    visibility: hidden;

    .btn {
      font-weight: 500;
      text-transform: uppercase;
    }

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__close {
    display: none;
    position: absolute;
    top: 24px;
    right: 26px;

    .icon-close {
      font-size: 24px;
    }

    @include media-down(md) {
      display: block;
    }
  }

  &__panel {
    @include media-down(md) {
      background: #E8E4DD;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 99;
      visibility: hidden;
      opacity: 0;
      transition: 300ms;

      .search-filter {
        margin-bottom: 0;
        padding-top: 66px;
      }

      &--active {
        margin-top: -20px;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 140%;
    text-transform: uppercase;
    color: #3B3734;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;

    @include media-down(md) {
      font-size: 20px;
      margin-bottom: 22px;
      margin-top: 0;
    }
  }

  &__search-filter {
    padding-bottom: 50px;

    @include media-down(md) {
      padding-bottom: 23px;
    }
  }

  &__sort-panel {
    padding-bottom: 50px;

    @include media-down(md) {
      padding-bottom: 57px;
    }
  }


  &__buttons {
    display: none;

    @include media-down(md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 25px;
    }
  }

  &__badge {
    position: absolute;
    background: #D0A966;
    top: -3px;
    right: -3px;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-weight: 500;
    font-size: 8px;
    line-height: 150%;
  }

  &__filter-btn {
    display: flex;
    align-items: center;
    gap: 13px;
    position: relative;
    font-family: $font-feixen;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    height: 35px;

    .icon-filters {
      position: relative;
      font-size: 20px;
    }
  }

  &__minmax-btn {
    display: flex;
    align-items: center;
    gap: 13px;
    position: relative;
    font-family: $font-feixen;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    height: 35px;

    .icon-minmax {
      font-size: 15px;
    }

    .icon-arrow-down {
      font-size: 6px;
    }
  }
}

.catalog {
  $root: &;

  display: flex;

  &__result {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    color: #3B3734;
    margin-top: 40px;

    @include media-down(md) {
      margin-top: 24px;
    }
  }

  &__content {
    padding-right: var(--cp);
    padding-left: var(--cp);
    min-height: 50vh;
  }

  &__main {
    width: 100%;
    transition: 400ms;
  }

  &__items {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 80px;

    @include media-down(md) {
      margin-top: 29px;
      gap: 38px 30px;
    }
  }

  &__map {
    position: relative;
    background: #fff;
    transition: 400ms;
    width: 0;
  }

  &--open-map {

    .catalog-footer__numbers {
      display: block !important;
    }

    #{$root} {
      &__map {
        width: 50%;
      }

      &__main {
        width: 50%;
      }

      &__items {
        grid-template-columns: 1fr;
      }

      &__content {
        padding-right: 120px;

        @media (max-width: 1640px) {
          padding-right: 30px;
        }
      }
    }

    .minimal-footer {
      padding-right: 62px;

      @media (max-width: 1640px) {
        padding-right: 30px;
      }
    }
  }
}

.catalog-footer {
  padding-bottom: 94px;
  padding-top: 87px - 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-down(md) {
    padding-top: 65px;
    flex-wrap: wrap;
    padding-bottom: 45px;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #3B3734;
  }

  &__navs {
    gap: 20px;
  }

  &__numbers {
    display: none;

    @include media-down(md) {
      display: block;
    }
  }
}

.catalog-item {
  width: 100%;
  border-bottom: 1px solid rgba(#000000, .1);

  @include media-down(md) {
    border-bottom: none;
  }

  &:hover {
    .catalog-item__prev, .catalog-item__next {
      opacity: 1;
      visibility: visible;
    }
  }

  &__slider {
    width: 100%;
  }

  &__slide {
    width: 100% !important;
  }

  &__main {
    padding-top: 24px;
    position: relative;
    padding-bottom: 40px;

    @include media-down(md) {
      padding-bottom: 0;
      padding-top: 10px;
    }
  }

  &__slide {
    position: relative;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  &__next, &__prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background: rgba(#FFFFFF, .9);
    border: none;
    transition: 300ms;
    opacity: 0;
    visibility: hidden;

    &.swiper-button-lock {
      display: none;
    }
  }

  &__next {
    right: 25px;

    @include media-down(md) {
      right: 12px;
    }
  }

  &__prev {
    left: 25px;

    @include media-down(md) {
      left: 12px;
    }
  }

  &__image {
    height: 500px;
    object-fit: cover;
    width: 100%;

    @include media-down(md) {
      height: 212px;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
    color: #3B3734;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-down(md) {
      font-size: 16px;
      margin-bottom: 5px;
    }
  }

  &__like {
    font-size: 32px;
    position: relative;
    z-index: 2;

    @include media-down(md) {
      font-size: 20px;
      color: #D0A966;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #3B3734;
    margin-bottom: 8px;

    @include media-down(md) {
      font-size: 16px;
      margin-bottom: 7px;
    }
  }

  &__category, &__view {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #000000;
    opacity: 0.5;

    @include media-down(md) {
      font-size: 14px;
    }
  }

  &__label {
    margin-bottom: 8px;

    @include media-down(md) {
      margin-bottom: 7px;
    }
  }

  &__category {
    margin-bottom: 11px;
  }

  &__view {
    margin-bottom: 20px;
  }

  &__comforts {
    margin: 0;
  }
}

.catalog-toggle {
  display: flex;
  align-items: center;
  border-radius: 22px;
  overflow: hidden;
  position: absolute;
  top: 28px;
  left: -45px;

  @include media-down(md) {
    top: 16px;
    left: -28px;
  }

  &__open, &__close {
    width: 45px;
    height: 45px;
    font-size: 9px;
    transition: 200ms;

    @include media-down(md) {
      width: 28px;
      height: 28px;
      font-size: 6px;
    }
  }

  &__open {
    background: #8F8175;
    color: #fff;

    &:hover {
      background: #7D7166;
    }
  }

  &__close {
    background: #F2F0EF;

    &:hover {
      background: #E7E7E7;
    }
  }
}