.front-page {
  &__banner {

  }

  &__about {
    margin-top: -100px;
    margin-bottom: 284px;
    background: #F2F0EF;
    padding-top: 5px;
    position: relative;
    top: -5px;

    @include media-down(md) {
      top: 0;
      //margin-top: -150px;
      margin-bottom: 73px;
      margin-top: 0;
    }

    @include media-down(sm) {
      margin-top: 0;
      top: 0;
      margin-bottom: 28px;
    }
  }

  &__agents {
    margin-bottom: 200px;

    @include media-down(md) {
      margin-bottom: 63px;
    }

    @include media-down(sm) {
      margin-bottom: 50px;
    }
  }

  &__residence {
    margin-bottom: 335px;

    @include media-down(md) {
      margin-bottom: 0;
    }
  }

  &__we-are {
    margin-bottom: 300px;

    @include media-down(md) {
      margin-bottom: 95px;
    }

    @include media-down(sm) {
      margin-bottom: 65px;
    }
  }

  &__projects {
    margin-bottom: 200px;

    @include media-down(md) {
      margin-bottom: 20px;
    }
  }

  &__services {
    margin-bottom: 150px;

    @include media-down(md) {
      margin-bottom: 84px;
      padding-top: 116px;
    }
  }

  &__property {
    margin-bottom: 116px;

    @include media-down(md) {
      margin-bottom: 51px;
    }
  }

  &__blog {
    margin-bottom: 117px;

    @include media-down(md) {
      margin-bottom: 37px;
    }
  }

  &__background {
    background-image: url("/public/images/front-bg.png");
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
  }
}