.services-page {
  &__title {
    height: 295px;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    max-width: 681px;
    margin: 0 auto 46px;

    @include media-down(md) {
      font-size: 32px;
      height: auto;
      margin: 0 auto 37px;
      position: relative;
      max-width: 296px;
    }

    @include media-down(sm) {
      text-align: left;
      margin: 0 auto 60px;
    }
  }

  &__text {
    max-width: 710px;

    @include media-down(md) {
      max-width: 429px;
      font-size: 16px;
      position: relative;
      z-index: 1;
    }

    @include media-down(sm) {
      max-width: 280px;
    }
  }

  &__first {
    display: block;
  }

  &__sg {
    width: 512px;
    height: 295px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: none;

    @include media-down(md) {
      width: 234px;
      height: 135px;
      position: absolute;
      top: -21px;
      left: 62px;
    }

    @include media-down(sm) {
      width: 268px;
      height: 155px;
      top: -22px;
      left: 0;
    }
  }

  &__contact {
    @include media-down(sm) {
      .contact-send__section:last-child {
        display: none;
      }
    }
  }
}

.services {
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include media-down(sm) {
      display: block;
    }
  }

  &__sticky {
    position: sticky;
    top: 0;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-color: #AA9F8D;
    transition: background-color 1s;

    @include media-down(md) {
      position: static;
      height: auto;
    }

    @include media-down(sm) {
      display: none;
    }
  }

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow: hidden;

    @include media-down(md) {
      flex-direction: column;
      align-items: flex-end;
      width: auto;
    }
  }
}

.services-item {
  $root: &;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 100px 0 100px var(--cp);

  @include media-down(md) {
    min-height: 465px;
    padding: 0 20px 0 var(--cp);
  }

  @include media-down(sm) {
    margin-bottom: 45px;
    margin-top: 35px;
  }

  &__content {
    max-width: 415px;
    min-height: 614px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    @include media-down(md) {
      min-height: 384px;
    }
  }

  &__icon {
    background: #8F8175;
    border: 1px solid #8F8175;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F2F0EF;
    width: 137px;
    height: 137px;

    @include media-down(md) {
      width: 73px;
      height: 73px;
    }

    .icon {
      font-size: 67px;

      @include media-down(md) {
        font-size: 35px;
      }
    }

    .icon-home {
      font-size: 53px;

      @include media-down(md) {
        font-size: 28px;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    height: 150px;
    margin-bottom: 45px;

    @include media-down(md) {
      height: 111px;
      margin-bottom: 0;
    }
  }

  &__title-text {
    display: block;
    position: relative;
    top: 21px;

    @include media-down(md) {
      top: 7px;
      font-size: 20px;
    }
  }

  &__title-sg {
    position: absolute;
    top: 0;
    left: 48px;
    width: 306px;
    height: 147px;

    @include media-down(md) {
      width: 225px;
      height: 111px;
      left: 0;
    }

    @include media-down(sm) {
      left: 45px;
    }

    &--t1 {
      width: 306px;
      height: 147px;

      @include media-down(md) {
        width: 225px;
        height: 111px;
      }
    }

    &--t2 {
      width: 419px;
      height: 146px;

      @include media-down(md) {
        width: 261px;
        height: 111px;
      }
    }

    &--t3 {
      width: 286px;
      height: 95px;
      top: 67px;
      left: 23px;

      @include media-down(md) {
        width: 208px;
        height: 69px;
        top: 50px;
        left: -20px;
      }
    }

    &--t4 {
      width: 207px;
      height: 33px;
      top: 68px;

      @include media-down(md) {
        top: 52px;
        width: 154px;
        height: 25px;
      }
    }

    &--t5 {
      width: 275px;
      height: 102px;
      top: 16px;

      @include media-down(md) {
        width: 200px;
        height: 74px;
        top: 14px;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    opacity: 0.6;

    @include media-down(md) {
      position: relative;
      top: -15px;
    }
  }

  &__number {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #3B3734;
  }

  &__image {
    display: none;

    @include media-down(sm) {
      height: 157px;
      display: block;
      object-fit: cover;
      border-radius: 20px;
    }
  }

  @include media-down(sm) {
    &:nth-child(2) {
      #{$root}__title-sg {
        @include media-down(sm) {
          left: 11px;
        }
      }
    }
  }
}

.service-image {
  width: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-down(md) {
    width: max-content;
    height: 465px;
    padding: 40px;

    &--center {
      width: 100%;
      padding: 75px 50px;
    }
  }

  img {
    width: 1028px;
    height: 578px;

    @include media-down(md) {
      width: 562px;
      max-width: none;
      max-height: 100%;
    }

    max-height: 90%;
    max-width: 90%;
    object-fit: contain;
  }

  @include media-down(sm) {
    &--color-primary {
      background-color: #AA9F8D;
    }

    &--color-second {
      background-color: #3B3734;
    }

    &--color-ternary {
      background-color: #E8E4DD;
    }
  }
}