.something-page {
  &__title {
    font-weight: 500;
    font-size: 100px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1033px;
    width: 100%;

    @include media-down(md) {
      font-size: 50px;
      max-width: 405px;
    }

    @include media-down(sm) {
      font-size: 32px;
      max-width: 320px;
    }
  }

  &__container {
    width: 100%;

    @include media-down(sm) {
      padding: 0 20px;
    }
  }

  &__title-end {
    margin-left: auto;
    margin-top: 72px;

    @include media-down(md) {
      margin-top: 21px;
    }

    @include media-down(sm) {
      margin-top: 46px;
    }
  }

  &__sg {
    position: absolute;
    font-weight: 400;
    font-size: 283px;
    line-height: 140%;
    color: #D0A966;
    right: 214px;
    top: -54px;

    @include media-down(md) {
      font-size: 146px;
      top: -30px;
      right: 107px;
    }

    @include media-down(sm) {
      right: 0;
      top: -39px;
      font-size: 132px;
    }
  }

  &__button {
    position: relative;
    top: -112px;
    left: 217px;

    @include media-down(md) {
      top: -50px;
      left: 0;
    }

    @include media-down(sm) {
      top: 0  ;
      left: 0;
    }
  }

  &__content {
    max-width: 1033px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

    @include media-down(md) {
      max-width: 405px;
    }

    @include media-down(sm) {
      max-width: 320px;
    }
  }
}