body {
  font-family: $font;
  //overflow: hidden;
  overflow-x: hidden;
  background: #F2F0EF;
  //height: 100vh;
}

.main {
  overflow: hidden;

  @include media-down(md) {
    flex-grow: 1;
    width: 100%;
  }
}

.x-fix {
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
}

.fn-sg {
  font-family: $font-sg;
  text-transform: initial;
}

.no-select {
  user-select: none;
  pointer-events: none;
}

.bg-second {
  background-color: #E8E4DD;
}

.bg-primary {
  background-color: #D0A966;
}

.bg-white {
  background-color: #ffffff;
}

.bg-black {
  background-color: #332E2A;
}

.bg-dark {
  background-color: #3B3734;
}

.bg-gray {
  background-color: #F2F0EF;
}

body {
  position: relative;

  &:not(.no-js) {
    &.lock {
      overflow: hidden !important;
    }
  }
}

.hide {
  display: none;
}


[data-aos-is-tablet] {
  @include media-up(lg) {
    opacity: 1 !important;
    transform: none !important;
  }
}

