.tippy-box[data-theme~=light] {
  background: #F2F0EF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  font-family: $font;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: rgba(#3B3734, .7);
}

.tippy-box[data-theme~=light][data-placement^=top] > .tippy-arrow:before {
  border-top-color: #fff
}

.tippy-box[data-theme~=light][data-placement^=bottom] > .tippy-arrow:before {
  border-bottom-color: #fff
}

.tippy-box[data-theme~=light][data-placement^=left] > .tippy-arrow:before {
  border-left-color: #fff
}

.tippy-box[data-theme~=light][data-placement^=right] > .tippy-arrow:before {
  border-right-color: #fff
}

.tippy-box[data-theme~=light] > .tippy-backdrop {
  background-color: #fff
}

.tippy-box[data-theme~=light] > .tippy-svg-arrow {
  fill: #fff
}