$grid-breakpoints: (
        xs: 0,
        sm: 480px,
        smd: 560px,
        md: 768px,
        lg: 1023px,
        xl: 1200px,
        xxl: 1500px,
);

$color-main: #212121;

$font: "Montserrat", sans-serif;
$font-arimo: "Arimo", sans-serif;
$font-proxima: "Proxima Nova", sans-serif;
$font-sg: "Saint Germain", sans-serif;
$font-feixen: "Studio Feixen Sans Trial", sans-serif;

$header-height: 64px;
$header-top: 50px;
$header-offset-top: $header-height + $header-top;