@font-face {
  font-family: "Studio Feixen Sans Trial";
  src: url("/public/fonts/feixen/NoiGroteskTrial-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Studio Feixen Sans Trial";
  src: url("/public/fonts/feixen/NoiGroteskTrial-UltraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Studio Feixen Sans Trial";
  src: url("/public/fonts/feixen/NoiGroteskTrial-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Studio Feixen Sans Trial";
  src: url("/public/fonts/feixen/NoiGroteskTrial-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Studio Feixen Sans Trial";
  src: url("/public/fonts/feixen/NoiGroteskTrial-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Studio Feixen Sans Trial";
  src: url("/public/fonts/feixen/NoiGroteskTrial-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Studio Feixen Sans Trial";
  src: url("/public/fonts/feixen/NoiGroteskTrial-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Studio Feixen Sans Trial";
  src: url("/public/fonts/feixen/NoiGroteskTrial-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}