@font-face {
  font-family: 'icomoon';
  src: url('/assets/fonts/icons/icomoon.eot?noamic');
  src: url('/assets/fonts/icons/icomoon.eot?noamic#iefix') format('embedded-opentype'),
  url('/assets/fonts/icons/icomoon.ttf?noamic') format('truetype'),
  url('/assets/fonts/icons/icomoon.woff?noamic') format('woff'),
  url('/assets/fonts/icons/icomoon.svg?noamic#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}