.front-agents {
  &__find {
    width: 225px;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F0EF;
    border: 1px solid #D0A966;
    border-radius: 50%;

    @include media-down(md) {
      width: 144px;
      height: 144px;
      font-size: 14px;
    }

    &:hover {
      background: #D0A966;
      color: #fff;
    }
  }

  &__slider {
    overflow: hidden;
  }
}