.front-banner {
  color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 100vw;
  width: 100%;

  @include media-down(md) {
    overflow: unset;
  }

  &__search-filter {
    position: relative;
    z-index: 3;
    margin-bottom: 300px;
    padding: 0 30px;

    @include media-down(md) {
      margin-bottom: 92px;
      margin-top: 185px;

      .search-filter {
        margin-bottom: 0;
        padding-top: 0;

        @include media-down(md) {
          &__search {
            height: 60px;
          }
        }
      }
    }

    @include media-down(sm) {
      margin-bottom: 0;
      padding-bottom: 111px;
      padding-top: 84px;
      margin-top: 163px - 84px;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 100vh;

    @include media-down(md) {
      max-height: 900px;
    }

    @include media-down(sm) {
      max-height: 700px;
    }
  }

  &__video {
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    transform: scale(2);
    max-height: 100vh;

    @include media-down(md) {
      max-height: 900px;
      transform: scale(1);
    }

    @include media-down(sm) {
      max-height: 700px;
      transform: scale(1);
    }
  }

  &__container {
    padding-top: 342px;
    padding-bottom: 148px;
    min-height: 100vh;
    position: relative;
    z-index: 3;

    @include media-down(md) {
      padding-top: 148px;
      padding-bottom: 0;
      min-height: 350px;
    }

    @include media-down(sm) {
      min-height: 300px;
      padding-top: 172px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 98px;
    line-height: 140%;
    text-transform: uppercase;
    max-width: 991px;
    position: relative;
    text-align: right;
    user-select: none;
    height: 248px;
    width: 100%;

    @include media-down(md) {
      font-weight: 500;
      text-align: left;
      font-size: 50px;
      max-width: 525px;
      height: 151px;
    }

    @include media-down(sm) {
      font-size: 32px;
      max-width: 280px;
      height: 130px;
      margin: 0 auto;
    }
  }

  &__sg {
    position: absolute;
    width: 401px;
    height: 315px;
    right: 0;
    top: -110px;
    z-index: 1;

    @include media-down(md) {
      right: auto;
      top: -30px;
      left: 111px;
      width: 262px;
      height: 205px;
      margin-left: 0;
    }

    @include media-down(sm) {
      width: 198px;
      height: 155px;
      top: -21px;
      left: 71px;
    }
  }

  &__title-start {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
  }

  &__title-end {
    position: absolute;
    bottom: 0;
    left: 465px;
    z-index: 0;

    @include media-down(md) {
      bottom: 0;
      right: auto;
      left: 191px;
    }

    @include media-down(sm) {
      left: 110px;
    }
  }

  &__description {
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    text-transform: uppercase;
    max-width: 546px;
    margin-top: 69px;
    position: relative;
    left: 40px;

    @include media-down(md) {
      max-width: 280px;
      margin-top: 0;
      font-size: 16px;
      left: 0;
    }

    @include media-down(sm) {
      margin: 30px auto 0 auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include media-down(md) {
      align-items: flex-start;
      max-width: 525px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__inner {
    padding-right: calc(var(--cp) + 261px);

    @media (max-width: 1320px) {
      padding-right: var(--cp);
    }

    @include media-down(md) {
      padding-left: var(--cp);
    }
  }
}

.front-banner-smoke {
  width: 100%;
  height: 1611px;
  left: 50%;
  top: calc(100vh - 600px);
  position: absolute;
  //background: #F2F0EF;
  //filter: blur(150px);
  transform: translateX(-50%);
  z-index: 0;
  background-image: url("/assets/images/front-blur-desktop.png");
  background-size: 1920px 1611px;
  background-repeat: repeat-x;

  @include media-down(md) {
    background-image: url("/assets/images/front-blur-tablet.png");
    height: 1040px;
    background-size: 768px 1040px;
    top: 300px;
  }

  @include media-down(sm) {
    background-image: url("/assets/images/front-blur-mobile.png");
    height: 906px;
    background-size: 320px 906px;
  }
}

body.loaded {
  .front-banner__video {
    transform: scale(1);
  }
}