.card-more {
  &__wrapper {
    display: grid;
    grid-template-columns: 50vw 1fr;

    @include media-down(md) {
      display: flex;
      flex-direction: column;
    }
  }

  &__section {
    padding: 100px 0 181px 0;

    @include media-down(md) {
      padding: 36px 0 36px 0;
    }

    &:first-child {
      padding-left: var(--cp);
      padding-right: 141px;

      @include media-down(md) {
        padding: 36px var(--cp);
      }
    }

    &:last-child {
      background: #E8E4DD;
      padding-right: var(--cp);
      padding-left: 141px;

      @include media-down(md) {
        padding: 36px var(--cp) 30px;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 140%;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 30px;

    @include media-down(md) {
      margin-bottom: 21px;
      font-size: 20px;
    }
  }

  &__items {
    padding-top: 14px;
    display: flex;
    gap: 45px;

    @include media-down(md) {
      margin-top: 35px;
      padding-top: 0;
      gap: 68px;
    }

    @include media-down(sm) {
      flex-direction: column;
      gap: 27px;
    }
  }

  &__item {
    &:last-child {
      margin-left: 44px;

      @include media-down(sm) {
        margin-left: 0;
      }
    }

    max-width: 170px;
  }

  &__icon {
    width: 45px;
    height: 45px;
    background: #8F8175;
    border: 1px solid #8F8175;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 21px;

    .icon-city, .icon-leaf, .icon-home {
      font-size: 22px;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #222222;
    margin-bottom: 20px;
  }

  &__ul {
    padding-left: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;

    li {
      position: relative;
      &:before {
        content: '';
        width: 3px;
        height: 3px;
        background: #000;
        position: absolute;
        top: 0.9em;
        left: -22px;
      }
    }
  }

  &__lists {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 14px;

    @include media-down(md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 38px;
      gap: 18px;
    }

    @include media-down(sm) {
      grid-template-columns: 1fr;
    }
  }
}

.card-more-list {
  display: flex;
  align-items: center;

  @include media-down(md) {
    display: flex;
    align-items: flex-start;
    gap: 18px;
  }

  &__title {
    width: 200px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #3B3734;

    @include media-down(md) {
      width: 50%;
    }
  }

  &__value {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #3B3734;

    @include media-down(md) {
      width: 50%;
    }
  }
}