.card-banner {
  position: relative;
  cursor: none;

  &__pagination {
    display: none;

    @include media-down(sm) {
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 92px !important;
      left: 0;
      width: 100%;
      position: absolute;
      z-index: 1;
      gap: 9px;

      .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #FFFFFF;
        opacity: 0.5;

        &.swiper-pagination-bullet-active {
          opacity: 1;
        }
      }
    }
  }

  &__prev, &__next {
    width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;

    @include media-down(md) {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #FFFFFF;
      font-size: 27px;
    }

    @include media-down(sm) {
      display: none;
    }
  }

  &__icon {
    display: none;

    @include media-down(md) {
      display: block;
    }
  }

  &__prev {
    @include media-down(md) {
      padding-left: var(--cp);
    }
  }

  &__next {
    left: auto;
    right: 0;

    @include media-down(md) {
      justify-content: flex-end;
      padding-right: var(--cp);
    }
  }

  &__slide {
    width: 100%;
    height: 850px;
    user-select: none;

    @include media-down(md) {
      height: 528px;
    }

    @include media-down(sm) {
      height: 500px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
  }

  &__play {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: 200ms;
    height: 54px;

    @include media-down(sm) {
      width: 100%;
      padding: 0 25px 0 12px;
    }

    &:hover {
      background: #fff;

      .play {
        border-color: #3B3734;
      }
    }

    @include media-down(sm) {
      &:hover {
        border-color: #FFFFFF;
      }
    }
  }

  &__buttons {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 45px;
    right: calc(var(--cp) + 168px);
    z-index: 10;

    @include media-down(md) {
      right: var(--cp);
      bottom: 56px;
    }

    @include media-down(sm) {
      width: 100%;
      right: auto;
      gap: 15px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0 var(--cp);
      bottom: 19px;
      align-items: center;
      justify-content: center;
      max-width: 340px;

    }
  }

  &__cube {
    height: 54px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: 200ms;

    @include media-down(sm) {
      width: 100%;
      gap: 10px;
      padding: 0 15px 0 25px;
    }

    &:hover {
      background: #fff;
    }

    .icon-cube {
      font-size: 23px;

      @include media-down(sm) {
        font-size: 22px;
      }
    }
  }
}

.card-page {
  &__background {
    background: #E8E4DD;
  }

  &__cursor {
    border: 2px solid #D0A966;
    border-radius: 50%;
    transform: translateY(-50%) translateX(-50%); /* центрируем кружок */
    position: absolute; /* задаём абсолютное позиционирование, чтобы элемент не влиял на остальные элементы и его можно было бы позиционировать следом за курсором */
    z-index: 999; /* чтобы элемент был над остальными элементами */
    pointer-events: none; /* чтобы сквозь элемент можно было взаимодействовать с элементами, находящимися под ним */
    transition: width 0.2s, height 0.2s, border-radius 0.2s, background 0.2s, opacity 0.2s;
    top: 50vh;
    left: 50%;
    width: 225px;
    height: 225px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 17px;
    opacity: 0;
    visibility: hidden;

    &--link {
      display: none;
    }

    &--visible {
      opacity: 1;
      visibility: visible;
    }

    &--prev {
      .icon-arrow-next {
        display: none;
      }
    }

    &--next {
      .icon-arrow-prev {
        display: none;
      }
    }

    &--click {
      width: 165px;
      height: 165px;
    }

    @include media-down(md) {
      display: none;
    }
  }
}

.play {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: 200ms;

  .icon-play {
    font-size: 6px;
  }
}