.card-infrastructure {
  margin-bottom: 450px;
  position: relative;

  @include media-down(md) {
    margin-bottom: 0;

    .card-infrastructure__image-3 {
      position: static;
    }
  }

  &__btn {
    @include media-down(md) {
      padding: 0 12px;
      height: 54px;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      width: 100%;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 60px;
    line-height: 130%;
    text-transform: uppercase;
    color: #3B3734;
    position: relative;
    display: table;
    min-height: 225px;
    margin-bottom: 57px;

    @include media-down(md) {
      font-size: 29px;
      min-height: auto;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #3B3734;
    max-width: 542px;

    &:not(:last-child) {
      margin-bottom: 44px;

      @include media-down(md) {
        margin-bottom: 26px;
      }
    }

    &:last-child {
      max-width: 433px;
      margin-bottom: 400px;

      @include media-down(md) {
        margin-bottom: 35px;
      }

      @include media-down(sm) {
        margin-bottom: 0;
      }
    }

    &--2 {
      &:not(:last-child) {
        margin-bottom: 60px;

        @include media-down(md) {
          margin-bottom: 23px;
        }
      }

      max-width: 531px;

      @include media-down(md) {
        max-width: 280px;
      }

      @include media-down(sm) {
        max-width: 100%;
      }
    }
  }

  &__sg {
    font-weight: 400;
    font-size: 160px;
    line-height: 140%;
    color: #D0A966;
    position: absolute;
    top: -16px;
    right: 0;
    z-index: 0;

    @include media-down(md) {
      font-size: 64px;
      top: 10px;
      left: 0;
      right: auto;
    }
  }

  &__first {
    position: relative;
    display: block;
    z-index: 1;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: minmax(0, 823px) 1fr;
    gap: 274px;
    padding-left: calc(var(--cp) - 150px - 30px);

    @include media-down(md) {
      gap: 30px;
      grid-template-columns: 1fr 1fr;
      padding-left: var(--cp);
    }

    @include media-down(sm) {
      display: flex;
      flex-direction: column-reverse;
      padding: 0;
      gap: 27px;
    }
  }

  &__section {
    padding-right: var(--cp);

    @include media-down(sm) {
      padding-left: var(--cp);
    }
  }

  &__wrapper-2 {
    display: grid;
    justify-content: space-between;
    position: relative;
    grid-template-columns: 1fr minmax(0, 661px);
    top: -198px;
    z-index: 2;
    gap: 100px;
    background: #E8E4DD;
    padding-right: calc(var(--cp) - 150px - 30px);

    @include media-down(md) {
      top: 0;
      padding-right: var(--cp);
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    @include media-down(sm) {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin-bottom: 29px;
    }
  }

  &__background {
    background: #E8E4DD;
    padding-bottom: 350px;

    @include media-down(md) {
      padding-bottom: 0;
    }
  }

  &__section-2 {
    margin-top: 371px;
    padding-left: calc(var(--cp) + 190px);
    padding-bottom: 87px;

    @include media-down(md) {
      margin-top: 39px;
      padding-left: var(--cp);
      padding-bottom: 59px;
    }

    @include media-down(sm) {
      padding-right: var(--cp);
      padding-bottom: 0;
    }
  }

  &__image {
    position: relative;
    z-index: 3;

    img {
      max-width: 823px;
      height: 1080px;
      width: 100%;
      object-fit: cover;

      @include media-down(md) {
        max-width: 329px;
        height: 249px;
      }

      @include media-down(sm) {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &__image-2 {
    max-width: 661px;
    height: 661px;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 3;
    top: -170px;

    @include media-down(md) {
      top: 39px;
      max-width: 327px;
      height: 268px;
    }

    @include media-down(sm) {
      max-width: 100%;
      position: static;
      width: 100%;
    }
  }

  &__image-3 {
    position: absolute;
    bottom: -340px;
    right: 0;
    z-index: 3;

    img {
      max-width: 1503px;
      width: 100%;
      height: 850px;
      object-fit: cover;

      @include media-down(md) {
        max-width: 100%;
        height: 435px;
      }
    }

    @include media-down(md) {
      bottom: -500px;
    }
  }
}